@import "@rlz/ui/globals.css";

@custom-variant fixed (&:is(.layout-fixed *));

:root {
  --breakpoint-3xl: 1600px;
  --breakpoint-4xl: 2000px;
  --header-height: 56px !important;
}

.shiki span {
  color: var(--shiki-light);
}

.dark .shiki span {
  color: var(--shiki-dark);
}

@layer components {
  .steps {
    &:first-child {
      @apply !mt-0;
    }

    &:first-child > h3:first-child {
      @apply !mt-0;
    }

    > h3 {
      @apply !mt-8;
    }

    > h3 + p {
      @apply !mt-2;
    }
  }
}

@utility container {
  @apply mx-auto max-w-[1416px] px-4 lg:px-6;
}

@utility step {
  counter-increment: step;

  &:before {
    @apply border border-background bg-accent mr-2 inline-flex size-6 items-center justify-center rounded-full text-center -indent-px font-mono text-sm font-medium md:absolute md:mt-[-4px] md:ml-[-50px] md:size-9 md:border-4;
    content: counter(step);
  }
}
