@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-raleway: var(--font-raleway);
  --font-robotoMono: var(--font-robotoMono);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-background: var(--background);

  --color-border: var(--border);

  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
}

:root {
  /* Radius */
  --radius: 0.625rem;

  /* Background */
  --background: oklch(1 0 0);

  /* Border */
  --border: oklch(90% 0.007 270);
  
  /* Text */
  --foreground: oklch(0.145 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);

  /* Button, Input */
  --primary: oklch(0.627 0.200 264.4);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.627 0.233 29.2);
  --destructive-foreground: oklch(1 0 0);

  /* Popover, Dialog, Toast... */
  --popover: oklch(0.95 0 0);
  --popover-foreground: oklch(0.2 0 0);
}

.dark {
  /* Background */
  --background: oklch(0 0 0);

  /* Border */
  --border: oklch(1 0 0 / 10%);
  
  /* Text */
  --foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);

  /* Button, Input */
  --primary: oklch(0.627 0.200 264.4);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.627 0.233 29.2);
  --destructive-foreground: oklch(1 0 0);

  /* Popover, Dialog, Toast... */
  --popover: oklch(0.18 0 0);
  --popover-foreground: oklch(0.95 0 0);
}

.separator-diagonal-bg {
  z-index: 1;
}
.separator-diagonal-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;
  background-image: repeating-linear-gradient(
    -45deg,
    var(--border),
    var(--border) 1px,
    transparent 1px,
    transparent 6px
  );
}

.border-flash {
  border-color: oklch(0 0 0) !important;
  transition: border-color 0.1s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}

.dark .border-flash {
  border-color: oklch(1 0 0) !important;
}

.border-flash-remove {
  border-color: var(--border) !important;
  opacity: 0;
  transition: border-color 0.6s cubic-bezier(0.4,0,0.2,1), opacity 0.6s cubic-bezier(0.4,0,0.2,1);
}
